---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
<p>Who we are? <TextLink href="https://Domainname.plus">DomainName</TextLink> Plus.</p>
<p>What is a Domain Name? </p>
<p>It's your Brand. </p>
<p>It's your Credibility. </p>
<p>It's also your Asset. </p>

  <p>Domain Name Plus!</p>
</div>
