<!-- giscus -->
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="domainspro/domainspro.github.io"
        data-repo-id="R_kgDOOGL8Cw"
        data-category="Announcements"
        data-category-id="DIC_kwDOOGL8C84Cn06O"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
