---
import ArrowCardButton from "@components/ArrowCardButton.astro";
import RootPageIndex from "@components/RootPageIndex.astro";

import { CONTACT } from "@consts";
import { resolvePath } from "@lib/utils";

const linkedInContact = CONTACT.find((contact) => contact.type === "LinkedIn");
---

<RootPageIndex title="Domains" searchable>
  <div class="animate mb-4">
    <p class="mb-1">Domains:</p>
    <section>
      <ArrowCardButton
        href={resolvePath("/talks/domains", Astro.url.pathname)}
        text="Domains"
        openInNewTab
      />
    </section>
  </div>

  <div class="animate mb-4">
    <p class="mb-1">Domain Name Book Mark:</p>
    <section>
      <ArrowCardButton
        href={resolvePath("/talks/domainnamebookmark", Astro.url.pathname)}
        text="Domain Name Book Mark"
        openInNewTab
      />
    </section>
  </div>

  <div class="animate mb-4">
    <p class="mb-1">Domain Name Plus:</p>
    <section>
      <ArrowCardButton
        href={resolvePath("/talks/domainnameplus", Astro.url.pathname)}
        text="Domain Name Plus"
        openInNewTab
      />
    </section>
  </div>
</RootPageIndex>
